
@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT', serif;
    font-weight: 300;
    color: #fff100;
    margin-top: 5%;
}
body {
    background-image: url("https://i.pinimg.com/originals/39/2d/67/392d675638b96f888aebf283910b3b50.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

